.project-filter {
  padding: 20px 0px;
}
.project-filter nav button {
  margin-right: 25px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border: #04a0ce 1.8px solid;
  padding: 3px 3px 2px 5px;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  outline: none;
}
.project-filter nav .active {
  background-color: #04a0ce;
}
.project-filter nav .filters {
  display: flex;
}
.project-filter nav .active .count {
  background-color: #ffffff;
  color: #04a0ce;
}
.project-filter nav .active .filter-name {
  color: #ffffff;
}
.project-filter nav .count {
  color: #ffffff;
  background-color: #04a0ce;
  border-radius: 20px;
  padding: 0px 8px 0px 8px;
  margin-left: 5px;
}
